/* styles for desktop and laptop */
*{

    box-sizing: border-box!important;
    /* font-family: 'Poppins', sans-serif; */
  
}
.container-fluid{
    padding: 0 7%;
   
 }
.nav-item{
    padding: 0 ;
}
.hero{
    background: rgba(196, 196, 196, 0.35);
    padding-bottom: 50px;
}
.description{
    padding-top: 100px;
    /* padding-left: 15px; */
}
.description h2{
    font-size: 3rem;
    
}
.icons{
   padding: 0 6px;
}
.discount-section{
    background-color: #f73d93 ;
    padding-bottom: 20px;
    padding-left: 50px;
}

.discount-box h3{
    font-size:30px ;
}
.fa-circle-arrow-up{
    position: relative;
    top: 30%;
    left: 60%;
}
.features-header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.features-header p{
font-size: 20px;

}
.discount-section-two{
    background-color: #f73d93 ;
    padding-bottom: 20px;
    padding-left: 50px;
    /* height: 350px; */
}
.card{
    background: rgb(255,182,193,0.3);
    /* border-color:rgb(255,182,193,0.5) ; */
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.card p{
    /* padding-top: 20px; */
    padding-bottom: 0;
}
.stars{
    padding: 0;
    margin: 0;
    color: #E1E10d;
    font-size: 20px;
}
.engineering-section{
    background: rgba(196, 196, 196, 0.35);
    padding-bottom: 50px;

}
.eng-image{
    padding:8px 12px;
}
.review-section{
    background: rgba(22,0,59);
    padding-bottom: 150px;
}
.review-box{
    padding-bottom: 20px;
}
.review-stars{
    color: #E1E10d;
    font-size: 30px;
   
}
.features-two{
    background-color: #ffb6c1;
    width: 30%;
    padding-bottom: 20px;
    margin: 10px;

}


@media screen and (max-width:600px){
    .discount-section{
        padding-bottom: 40px;
    }
   
    .fa-circle-arrow-up{
        top: 10%;
       
    }
    .features-header{
        margin-bottom: 70px!important;
    }
    .card{
        margin:10px  auto!important;
    }
    .row h5{
        padding-left: 60px;
    }
    .review-box{
        margin-top: 30px;
    }
    .features-two{
        width: 100%;
    
    }
}