/* styles for desktop and laptop */
*{

    box-sizing: border-box!important;
    font-family: 'Poppins', sans-serif;
  
}
html{
    scroll-behavior: smooth;
}
#products, #about, #services, #contact{
    scroll-behavior: smooth;
    overflow-y: hidden;
    scroll-snap-type: y mandatory;}


.container-fluid{
    padding: 0 7%;
   
 }
.nav-item{
    padding: 0 ;
}
.nav-link:hover{
text-decoration: underline;
}
.hero{
    background: rgba(196, 196, 196, 0.35);
    padding-bottom: 50px;
}
.description{
    padding-top: 100px;
}
.description h2{
    font-size: 3rem;
    
}
.icons{
   padding: 0 6px;
}
.discount-section{
    background-color: #f73d93 ;
    padding-bottom: 20px;
    padding-left: 50px;
}

.discount-box h3{
    font-size:30px ;
}
.features-header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.features-header p{
font-size: 20px;

}
.discount-section-two{
    background-color: #f73d93 ;
    padding-bottom: 20px;
    padding-left: 50px;
}
.card{
    background: rgba(255,182,193,0.3);
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
.card p{
    padding-bottom: 0;
}
.stars{
    padding: 0;
    margin: 0;
    color: #E1E10d;
    font-size: 20px;
}
.engineering-section{
    background: rgba(196, 196, 196, 0.35);
    padding-bottom: 50px;

}
.eng-image{
    padding:8px 12px;
}
.eng-image img{
    border-radius: 10px;
}
.review-section{
    background: rgba(22,0,59);
    padding-bottom: 150px;
}
.review-box{
    padding-bottom: 20px;
    border-radius: 10px;
}
.review-stars{
    color: #E1E10d;
    font-size: 30px;
   
}
.features-two{
    background-color: rgba(255,182,193,0.3);
    width: 30%;
    padding-bottom: 20px;
    margin: 10px;
    border-radius: 10px;

}
.footer{
    background: rgba(22,0,59);
    color: white;
    padding-top: 80px;
    width: 100%;
    height: max-content;    

}
.footer ul{
    padding: 0;
   margin-top: 30px;
}
.footer li{
    list-style-type:none;
    text-decoration: none;
    margin-top: 20px;
    
}
.footer a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
   
    
}
.footer p{
    font-weight: lighter;
    margin-top: 25px;
}
.footer-icons{
    font-size: 30px;
}
.footer a:hover{
    color: yellow;
    text-decoration: underline;
}
.fa-brands:hover{
color: yellow;
cursor: pointer;
}
.polygon{
margin-top: 80px;
clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
background-color: #0B001D;
}
.polygon p{
    margin: 5px;
    font-size: 13px;
}

@media screen and (max-width:600px){
    .discount-section{
        padding-bottom: 40px;
    }

    .features-header{
        margin-bottom: 70px!important;
    }
    .card{
        margin:10px  auto!important;
    }
    
    .review-box{
        margin-top: 30px;
    }
    .features-two{
        width: 100%;
        margin: 10px auto;
    
    
    }
    .footer{
        text-align: center;
    }
    .polygon{
        clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    }
    .polygon p{
        margin: 5px;
        padding: 5px;
        font-size: 8px;
    }
}